DATABASE_URI=sqlite:///uberspace_mail_pw_reset.sqlite3

SECRET_KEY=VERY_SECRET_KEY

URL_BASE=https://my.domain:5000/path
MAIL_SENDER=noreply@my.domain
MAIL_RECEIVER_DOMAIN=my.domain

TOKEN_SECONDS_VALID=3600  # 1 hour
TOKEN_MAX_DELAY_TO_RESET=300  # 5 min

LANGUAGES=en,de
