DATABASE_URI=sqlite:///uberspace_mail_pw_reset.sqlite3

SECRET_KEY=VERY_SECRET_KEY

PREFERRED_URL_SCHEME=https
SERVER_NAME=my.domain:5000
APP_ROOT=/path/after/domain
MAIL_SENDER=noreply@my.domain
MAIL_RECEIVER_DOMAIN=my.domain

TOKEN_SECONDS_VALID=3600  # 1 hour
TOKEN_MAX_DELAY_TO_RESET=300  # 5 min

LANGUAGES=en,de
