<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{{ _("Reset mailbox password") }}</title>
    </head>
    <body>
        <div class="dialog-box content">
            <h2>{{ _("Reset mailbox password") }}</h2>

            {% for message in get_flashed_messages() -%}
            <div class="float-box">
              <div class="notification-box">
                <p>{{ message }}</p>
              </div>
            </div>
            {%- endfor %}

            <div>
                {% if token is none -%}
                <h1>{{ _("Uh oh!") }}</h1>
                <p>{{ _("This didn't work. You can try again and") }}
                    <a class="button" href="{{ url_for('public.index') }}">{{ _("Request a new token") }}</a>
                </p>
                {%- else -%}
                <p>{{ _('Click "{}" and a new password will be generated.').format(_("Reset password")) }}</p>
                <p>{{ _("This takes a few seconds, please wait.") }}</p>
                {%- endif %}
            </div>

            {% if token is not none -%}
            <div class="divider horizontal"></div>

            <form method="POST" action="{{ url_for('public.reset') }}">
                <div class="box-padding left right bottom">
                    <p class="input-descriptor">{{ _("Mailbox") }}</p>
                    <input type="text" name="mailbox" style="width: initial;" disabled value="{{ token.mailbox }}@ ..."/>
                    <input type="hidden" name="tmp_pass" value="{{ token.tmp_pass }}"/>
                </div>

                <div class="divider horizontal"></div>

                <div class="button warning">
                    <input name="reset_btn" type="submit" value="{{ _('Reset password') }}"/>
                </div>
            </form>
            {%- endif %}

            <div class="spacer"></div>

        </div>
    </body>
</html>
