{{ _("Hi there!") }}

{{ _("Someone requested a password reset for this mailbox. If that was you, please visit the URL below to generate a new password:") }}


{{ url }}


{{ _("If this WASN'T you, no need to panic - as long as they don't already have access to this mailbox, others won't be able to do anything.") }}

{{ _("This might be a good time though to check whether you still have the password safe. If you lost it or think someone might have access to it, better generate a new password now. And if you loose access to the mailbox somehow, you can always contact an admin.") }}
