{{ l("Hi there!") }}

{{ l("Please visit the URL below to generate a secure password for your mailbox:") }}


{{ url }}


{{ l("There you also find instructions on how to get access to your mailbox.") }}
