{{ _("Hi there!") }}

{{ _("Please visit the URL below to generate a secure password for your mailbox:") }}


{{ url }}


{{ _("There you also find instructions on how to get access to your mailbox.") }}
